ul {
  color: #888888;
  padding-left: 0;
  list-style: none;
}

small {
  display: block;
  text-align: center;
}

a {
  text-decoration: none;
}

.search-engine-container {
  border: 2px solid #888888;
  border-radius: 20px;
  display: block;
  max-width: 500px;
  margin: 10px auto;
}

.search-form {
  margin: 20px;
  max-width: 450px;
}

.weather-city-summary {
  border: 2px solid #888888;
  border-radius: 20px;
  display: block;
  font-size: 18px;
  max-width: 500px;
  margin: 10px auto;
  padding: 15px;
  text-align: center;
}

.city-name {
  color: #4d4949;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.description:first-letter {
  text-transform: uppercase;
}

.icon-temp-container {
  margin-top: 25px;
}

.temperature {
  font-size: 40px;
  color: #4d4949;
}

.units {
  font-size: 15px;
  position: relative;
  top: -17px;
}

.label {
  font-size: 20px;
  color: #4d4949;
}

.measurement-data {
  font-size: 17px;
}

.icon {
  margin-top: -90px;
  margin-bottom: -70px;
}

.active {
  color: #4d4949;
  cursor: default;
}

.active:hover {
  color: #4d4949;
}

.weather-forecast {
  display: block;
  margin: 0 auto;
  border: 2px solid #888888;
  border-radius: 20px;
  max-width: 500px;
}

.forcast-day-group {
  margin: 10px;
  text-align: center;
}

.forecast-day {
  font-size: 17px;
  color: #4d4949;
  font-weight: 800px;
}

.forecast-temperatures {
  font-size: 15px;
}

.forecast-max-temperature {
  color: #4d4949;
  font-weight: bolder;
}

.forecast-min-temperature {
  color: #888888;
}
